/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100vh;
}
h1 {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 50px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background: #333;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
}

.input {
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  /* font-size: 3vw; */
  text-align: center;
  color: #fff;
  opacity: 0.95;
  border-radius: 10px;
  /* resize: both; */
}

.item p {
  position: absolute;
  display: block;
  line-height: 0%;
  width: 100%;
  height: 20%;
  margin-top: 72%;
}
.item img {
  position: absolute;
  display: block;
  line-height: 0%;
  width: 100%;
  height: 80%;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
}
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next,
.prev {
  color: #444;
  position: absolute;
  top: 200px;
  padding: 1em 2em;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
  border-top: 1px solid #fff;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover,
.prev:hover {
  color: #000;
}
.next:active,
.prev:active {
  top: 204px;
  box-shadow: 0 1px 0 #999;
}
.next {
  right: 5em;
}
.prev {
  left: 5em;
}
