/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 2rem;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  width: 25%;
  margin-top: 2rem;
}
h2,h3{
  width: 75%;
  margin-top: 2rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
